.git*
.vscode-test/**
.vscode/**
dark.png
icon.xcf
light.png
screenshots.xcf
DEVELOPMENT.md
**/tsconfig.json
**/tsconfig.base.json
.dora
.husky
scripts/**
test/**
client/testFixture
client/src/**
client/README.md
*.vsix
.tmp
.tmp*
node_modules/**/LICENSE
node_modules/**/*.md
node_modules/**/*.cmd
node_modules/**/*.txt
node_modules/**/*.d.ts
node_modules/@*/**
node_modules/fastly-vcl-lsp/src/**
node_modules/fastly-vcl-language-client/src/test/**
node_modules/fastly-vcl-language-client/out/test/**
node_modules/fastly-vcl-language-client/testFixture/**
.aider*
.aider*/*
.eslintignore
.github/workflows/test.yaml
*.vcl
