.claude/
.dora
.eslintignore
.git*
.github/workflows/test.yaml
.husky
.prettierignore
.tmp
.tmp*
.vscode-test/**
.vscode/**
*.vcl
*.vsix
**/.github/**
**/tsconfig.base.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
CLAUDE.md
client/README.md
client/src/**
client/out/test/**
client/testFixture
dark.png
DEVELOPMENT.md
eslint.config.js
icon.xcf
jq-filters/**
light.png
node_modules/@*/**
node_modules/**/*.cmd
node_modules/**/*.d.ts
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/*.bnf
node_modules/**/LICENSE
node_modules/semver/bin/**
node_modules/vscode-languageserver/bin/**
node_modules/fastly-vcl-language-client
node_modules/fastly-vcl-lsp
server/src/**
server/node_modules/**
server/*.json
server/*.md
server/LICENSE
screenshots.xcf
scripts/**
test/**
coverage/**