.claude/
.dora
.eslintignore
.git*
.github/workflows/test.yaml
.husky
.tmp
.tmp*
.vscode-test/**
.vscode/**
*.vcl
*.vsix
**/tsconfig.base.json
**/tsconfig.json
CLAUDE.md
client/README.md
client/src/**
client/testFixture
dark.png
DEVELOPMENT.md
eslint.config.js
icon.xcf
light.png
node_modules/@*/**
node_modules/**/*.cmd
node_modules/**/*.d.ts
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/fastly-vcl-language-client
node_modules/fastly-vcl-lsp/src/**
screenshots.xcf
scripts/**
test/**