name: Test

on: pull_request

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Build the language client
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Check formatting
        run: npm run format:check
      - name: Run all tests
        run: npm test
      - name: Test package
        run: npm run package
