name: Test

on: pull_request

permissions:
  contents: read

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4
      - name: Install VS Code dependencies
        run: sudo apt-get update && sudo apt-get install -y libnspr4 libnss3 libatk1.0-0t64 libatk-bridge2.0-0t64 libgtk-3-0t64 libgbm1 libasound2t64 xvfb dbus-x11
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm install
      - name: Build the language client
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Check formatting
        run: npm run format:check
      - name: Run all tests
        run: dbus-run-session xvfb-run -a npm test
      - name: Test package
        run: dbus-run-session xvfb-run -a npm run package
