name: Test

on: pull_request

permissions:
  contents: read

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Run Dagger CI pipeline
        uses: dagger/dagger-for-github@v8
        with:
          version: "latest"
          call: ci --source=.
